.w-full 
	.flex.justify-between.items-center 
		.flex.items-center.gap-4.my-4
			.text-3xl.font-semibold Oauth Clients

		.flex.items-center.gap-4
			= turbo_frame_tag "new_oauth_client" do
				%div{"data-controller" => "modal", "data-modal-allow-background-close" => "true", "data-modal-disable-backdrop" => "false" }
					%button.flex.items-center.text-white.bg-blue-700.hover:bg-blue-800.focus:ring-4.focus:outline-none.focus:ring-blue-300.font-medium.rounded-lg.text-sm.px-5.py-2.5.text-center.dark:bg-blue-600.dark:hover:bg-blue-700.dark:focus:ring-blue-800{ "data-action" => "click->modal#open" }
						.pr-2
							%svg{:fill => "none", :height => "16", :viewbox => "0 0 18 18", :width => "16", :xmlns => "http://www.w3.org/2000/svg"}
								%path{:d => "M9 2V16M2 9H16", :stroke => "white", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "3"}
						Add New Oauth Client
					.hidden.fadeIn.fixed.inset-0.flex.items-center.justify-end.backdrop-brightness-50{"data-action" => "click->modal#closeBackground keyup@window->modal#closeWithKeyboard", "data-modal-target" => "container", :style => "z-index: 9999;"}
						.h-screen.w-full.max-w-lg.relative
							.bg-white.rounded-l-lg.h-full.overflow-y-auto.flex.flex-col.shadow
								.px-4.py-3.border-b
									%h3.text-xl.font-semibold.text-slate-800
										Add New Oauth Client
								= render 'admin_user/oauth_clients/form', oauth_client: OauthClient.new
 
	.mt-4
		.flex.justify-between.align-center.p-2.bg-white.go-line-card
			= form_with( url: Rails.application.routes.url_helpers.admin_user_oauth_clients_path, method: :get, data: { turbo: true, "turbo-frame": "oauth_clients"}, class: "flex align-center items-center") do |form|
				.relative.w-72
					.absolute.inset-y-0.left-0.flex.items-center.pl-3.pointer-events-none
						%svg.w-5.h-5.text-gray-500.dark:text-gray-400{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
							%path{:d => "M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
					= form.text_field :search, placeholder: "Search by name", class: "block w-full px-4 py-3 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"

		= turbo_frame_tag "oauth_clients" do
			.relative.overflow-x-auto.shadow-md.sm:rounded-lg.mt-1
				%table.w-full.text-sm.text-left.text-gray-500
					%thead.text-xs.text-gray-700.uppercase.bg-gray-50
						%tr
							%th.px-6.py-3{scope: "col"}
								Name
							%th.px-6.py-3{scope: "col"}
								App ID
							%th.px-6.py-3{scope: "col"}
								App Secret
							%th.px-6.py-3{scope: "col"}
					%tbody
						- @oauth_clients.each do |client|
							%tr.bg-white.border-b.hover:bg-gray-50
								%th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap{scope: "row"}
									= link_to client.try(:name), client.try(:app_url)
								%td.px-6.py-4
									= client.try(:app_id)
								%td.px-6.py-4
									= client.try(:app_secret)
								%td.px-6.py-4{"data-controller" => "modal", "data-modal-allow-background-close" => "true", "data-modal-disable-backdrop" => "false" }
									%button{ "data-action" => "click->modal#open" }
										%svg{fill: "none", height: "44", viewbox: "0 0 44 44", width: "44", xmlns: "http://www.w3.org/2000/svg"}
											%circle{cx: "22", cy: "22", fill: "#FEF2E9", r: "22"}
											%path{d: "M27.4994 20.1668L23.8327 16.5001M13.291 30.7084L16.3934 30.3637C16.7724 30.3216 16.9619 30.3006 17.139 30.2432C17.2962 30.1924 17.4458 30.1205 17.5837 30.0295C17.7391 29.927 17.8739 29.7922 18.1436 29.5225L30.2494 17.4168C31.2619 16.4043 31.2619 14.7626 30.2494 13.7501C29.2369 12.7376 27.5952 12.7376 26.5827 13.7501L14.4769 25.8559C14.2073 26.1255 14.0724 26.2604 13.9699 26.4158C13.879 26.5537 13.8071 26.7033 13.7562 26.8604C13.6989 27.0376 13.6778 27.2271 13.6357 27.6061L13.291 30.7084Z", stroke: "#F48020", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}     
									.hidden.fadeIn.fixed.inset-0.flex.items-center.justify-end.backdrop-brightness-50{"data-action" => "click->modal#closeBackground keyup@window->modal#closeWithKeyboard", "data-modal-target" => "container", :style => "z-index: 9999;"}
										.h-screen.w-full.max-w-lg.relative
											.bg-white.rounded-l-lg.h-full.overflow-y-auto.flex.flex-col.shadow
												.px-4.py-3.border-b
													%h3.text-xl.font-semibold.text-slate-800
														Edit Oauth Client
												= render 'admin_user/oauth_clients/form', oauth_client: client


