= form_with(model: user, url: (user.persisted? ? Rails.application.routes.url_helpers.admin_user_user_path(user) : Rails.application.routes.url_helpers.admin_user_users_path), class: "contents", data: { turbo_frame: "_top"}) do |form|
	- if user.errors.any?
		#error_explanation.bg-red-50.px-3.py-2.font-medium.rounded-lg.mt-3.text-sm
			%h2
				= pluralize(user.errors.count, "error")
				prohibited this submission:
			%ul.pl-2.py-1.text-red-500
				- user.errors.each do |error|
					%li.text-xs= error.full_message
	.w-full.h-full.flex.flex-col.justify-items-stretch
		.px-6.py-6
			.grid.grid-cols-12.gap-2
				.col-span-7
					= form.label :name, class: 'text-xs text-slate-700'
					= form.text_field :name, class: "block rounded-md border border-gray-200 outline-none px-2 py-2 mt-1 w-full text-sm", required: true
				.col-span-7
					= form.label :phone_number, class: 'text-xs text-slate-700'
					= form.number_field :phone_number, class: "block rounded-md border border-gray-200 outline-none px-2 py-2 mt-1 w-full text-sm", required: true
				.col-span-7
					= form.label :email, class: 'text-xs text-slate-700'
					= form.text_field :email, class: "block rounded-md border border-gray-200 outline-none px-2 py-2 mt-1 w-full text-sm", required: true
				.col-span-7
					= form.label :organization_name, class: 'text-xs text-slate-700'
					= form.text_field :organization_name, class: "block rounded-md border border-gray-200 outline-none px-2 py-2 mt-1 w-full text-sm", required: true

				- unless user.persisted?
					.col-span-7
						= form.label :password, "Password", class: 'text-xs text-slate-700'
						= form.password_field :password, class: "block rounded-md border border-gray-200 outline-none px-2 py-2 mt-1 w-full text-sm", required: true

			.flex.items-center.mt-4.gap-6{ data: { controller: 'switch' }}
				= form.check_box :is_admin, {class: "form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white text-orange-400 focus:ring-orange-400 checked:bg-orange-400 checked:border-orange-400 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain cursor-pointer", :type => "button", "data-action": "switch#switchActiveTargets"}
				= form.label :is_admin, "Admin User?", class: 'form-check-label inline-block text-gray-800 font-semibold text-sm'

		.flex-1
		.p-6.bg-slate-100.flex.justify-end.gap-2.rounded-b-lg
			= button_tag 'Cancel', {type: "button", class: "px-4 py-2.5 cursor-pointer text-sm font-medium text-slate-600 bg-white rounded-md border border-slate-100 hover:bg-slate-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-slate-200", "data-action" => "click->modal#close", :role => "button", :tabindex => "0"}
			= form.submit  class: " flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"