= form_for @oauth_client do |f|
  - if @oauth_client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@oauth_client.errors.count, "error")} prohibited this oauth_client from being saved:"
      %ul
        - @oauth_client.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :app_id
    = f.text_field :app_id
  .field
    = f.label :app_secret
    = f.text_field :app_secret
  .actions
    = f.submit 'Save'
