!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OneSsoProvider
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.font-sans.leading-normal.tracking-normal.w-full
    %header
      -# = render 'layouts/top_nav'
    %main
      .flex.flex-col.md:flex-row.overflow-y-hidden
        - if current_user.present? and current_user.admin_user?
          = render 'layouts/admin_side_nav'
        - else
          = render 'layouts/user_side_nav'
        %section.w-full
          #main.main-content.flex-auto.md:px-6.md:py-3.w-full.bg-slate-50.h-screen.overflow-y-auto
            = yield
    #flash.flash
      = render 'layouts/flash_notifications'
